### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

### Intellij+iml ###
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

### Intellij+iml Patch ###
# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

*.eml
*.iml
modules.xml
*.ipr


### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

